body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: justify;
}
h1{
    font-size: 40px;
}
.namecolour{
    color: #FF6200;
}
.introsection{
    display: flex;
    margin-bottom: 80px;
}
.profile{
    width: 60%;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
}
.hire-me-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(#FF6200, #FDB777);
    padding: 10px 20px;
    border-radius: 9px;

}
.introsection{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dreamsection{
    display: flex;

}
.dreamprofile{
    width: 50%;
    padding-right: 150px;
    padding-top: 30px;

}
.dreamsection{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.resume-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(#ff3399, #ff66cc);
    padding: 10px 20px;
    border-radius: 9px;
}