body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: justify;
}
h1{
    font-size: 40px;
}
.namecolour{
    color: #FF6200;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.introsection{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.introdiv{
    width: 60%;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
}
.hire-me-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(#FF6200, #FDB777);
    padding: 10px 20px;
    border-radius: 9px;

}

.dreamsection{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.dreamdiv{
    width: 50%;
    padding-right: 150px;
    padding-bottom: 60px;
    

}
.resume-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(#ff3399, #ff66cc);
    padding: 10px 20px;
    border-radius: 9px;
}
    
.experiencediv{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    box-shadow: 10px 10px 40px gray ;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    border-radius: 10px;

}
.experiencesection{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-left: 80px;
}
#pro{
    border-left: 7px solid ;
    border-image: linear-gradient(#FF6200, #FDB777);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid ;
    border-image: linear-gradient(#0000cc, #00ffff);
    border-image-slice: 1;

}
footer p {
    text-align: center;
}




